* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.logo {
  height: 100px;
  width: auto;
}

.consola-admin {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #015d7e;
  border-bottom: 1px solid #015d7e;
}

.calendar {
  user-select: none;
  border-radius: 10px;
  background: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 1em auto;
  padding: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calendar__info {
  display: flex;
  align-items: center;
  padding: 0 1em;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #343a40;
}

.calendar__prev,
.calendar__next {
  color: #343a40;
  cursor: pointer;
  font-size: 1.4em;
  transition: color 0.3s;
}

.calendar__prev:hover,
.calendar__next:hover {
  color: #007bff;
}

.calendar__prev {
  margin-right: auto;
}

.calendar__next {
  margin-left: auto;
}

.calendar__week,
.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 0 1em;
}

.calendar__day,
.calendar__item {
  text-align: center;
  line-height: 2;
  padding: 0.5em;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.calendar__day {
  font-weight: bold;
  background: #e9ecef;
}

.calendar__date {
  cursor: pointer;
}

.calendar__date:hover {
  background: #e2e6ea;
}

.calendar__last-days {
  opacity: 0.5;
  color: #adb5bd;
}

.calendar__date.selected {
  background-color: #28a745;
  color: white;
}

.calendar__date--holiday {
  color: #dc3545;
}

.non-selectable {
  color: #adb5bd;
  pointer-events: none;
}

/* cabecera */
.cabecera {
  display: flex;
  height: 100px;
}

/* Estilos para el div del título */
.cabecera > div:first-child {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 100px;
  background-color: #015d7e;
  color: #fff;
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 2;
}

/* Estilos para la diagonal */
.cabecera > div:first-child::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #a7cb47;
  transform-origin: bottom right;
  transform: skew(-30deg);
  right: 0;
  z-index: 1;
}

/* Estilos para el div de la imagen */
.cabecera > div:last-child {
  background-color: #a7cb47;
  height: 100%;
  width: 50%;
  position: relative;
}

/* vista inicio con el login */
/* Añadimos un poco de espacio entre los elementos del formulario */
.form-group {
  margin-bottom: 1.5rem;
}

/* Estilo para el botón de enviar */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Añadimos estilos para el mensaje de error */
.invalid-feedback {
  display: none;
  color: red;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

/* Estilo para el borde del input cuando hay error */
.form-control:invalid {
  border-color: red;
}

/* Estilo para el label */
label {
  font-weight: bold;
  display: block;
}

/* Cambiamos el color de fondo del checkbox */
.form-check-input:checked {
  background-color: #007bff;
}

/* Cambiamos el color del texto del checkbox */
.form-check-input:checked + .form-check-label {
  color: #007bff;
}

/* Estilo para el input al hacer hover o focus */
.form-control:focus,
.form-control:hover {
  border-color: #007bff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  margin: 0 auto;
  min-height: 60vh;
  max-width: 1200px;
}

main.emp {
  max-width: 1500px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1.5rem;
}

/* Estilo para el botón de editar perfil */
input[type='submit'] {
  margin-top: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #0069d9;
}

/* Estilo para el botón de cerrar sesión */
input[type='submit'][value='Cerrar sesión'] {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #dc3545;
}

input[type='submit'][value='Cerrar sesión']:hover {
  background-color: #c82333;
}

/* Estilo para los títulos */
h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* Estilo para los detalles del perfil */
ul li strong {
  width: 200px;
  display: inline-block;
  font-weight: normal;
  margin-right: 1rem;
}

/* Estilo para el contenido del perfil */
ul li:not(:last-child) {
  margin-bottom: 0.75rem;
}

form {
  padding: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* lista del perfil */
.opciones {
  background-color: #e2e2e2;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
}

.opciones ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.opciones li {
  margin: 0;
  padding: 0;
}

.opciones li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.opciones li a:hover {
  background-color: #ccc;
}

.opciones li:last-child a {
  border-bottom: none;
}

/* perfil grid para separar la lista de los datos */
.perfil-usuario {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container {
  background: #f8f9fa; /* Color de fondo ligero */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  margin-bottom: 2rem;
  height: 100px;
}

.header .logo {
  max-height: 100px;
}

.header .perfil-titulo h1 {
  margin: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

.pie {
  height: auto; /* Ajusta la altura automáticamente */
  position: relative;
  bottom: 0;
  padding-top: 20px;
}

.pie .container {
  padding-top: 20px;
}

.pie .contacto h5 {
  margin-bottom: 15px;
}

.pie .contacto p {
  margin: 0;
}

.pie .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie .logo {
  max-width: 100%;
  height: auto;
}

.pie .text-center {
  margin-top: 20px;
}

.alert-custom {
  font-size: 1.5rem;
  padding: 2rem;
  margin: 2rem 0;
}


/*////////////////////////////////////////////*/

/* Estilo para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .perfil-usuario {
    display: flex;
    flex-direction: column-reverse;
  }

  .perfil-usuario .container {
    order: 1;
  }

  .perfil-usuario nav.opciones ul {
    display: flex;
    flex-direction: column;
  }

  .perfil-usuario nav.opciones ul li {
    margin-bottom: 10px;
  }

  .opciones,
  .container {
    width: 100%;
  }

  .opciones ul {
    padding: 0;
  }

  .opciones li {
    list-style: none;
  }

  .opciones li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 5px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 0 1rem;
  }

  .header .logo {
    max-height: 50px;
  }

  .header .perfil-titulo h1 {
    font-size: 1.5rem;
  }

  .pie .contacto,
  .pie .logo-container {
    text-align: center;
  }

  .pie .logo-container {
    margin-top: 20px;
  }

  .calendar {
    max-width: 100%;
    padding: 0.5em;
  }

  .calendar__info {
    font-size: 1em;
    padding: 0 0.5em;
  }

  .calendar__prev,
  .calendar__next {
    font-size: 1.2em;
  }

  .calendar__week,
  .calendar__dates {
    gap: 2px;
    padding: 0 0.5em;
  }

  .calendar__day,
  .calendar__item {
    line-height: 1.5;
    padding: 0.3em;
  }

  .calendar__day {
    font-size: 0.9em;
  }

  .calendar__date {
    font-size: 0.9em;
  }

  .boton-admin {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  ul li strong {
    width: 155px;
  }

  .titulo-maternidad{
    font-size: 1.2em;
  }
}
